html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(235, 235, 227);
    color: #501700;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 4px;
    font-family: Gabriela;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    min-width: 300px;
    border-color: #665b56;
    border-left-style: none;
    border-right-style: solid;
}

#navbar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    cursor: pointer;
    padding: 30px 30px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    border-bottom: 0.5px;
    border-width: 2px;
    border-color: #665b56;
    border-top-style: solid;
    padding-top: 27px;
    padding-left: 45px;
}

a:hover {
    font-size: larger;
}

header {
    font-size: xx-large;
    font-weight: bolder;
}

.navhead {
    text-align: center;
    padding-top: 9.8px;
}

#main-doc {
    padding: 48px 30px 30px 43px;
    line-height: 21px;
    margin-left: 328px;
    margin-bottom: 120px;
    position: absolute;
}

p {
    padding-left: 19px;
    line-height: 31px;
}

ul {
    list-style: circle;
    padding-left: 75px;
}

#main_code {
    background-color: #dad8d8;
    padding: 10px;
    margin: 40px;
    padding-left: 20px;
}

table {
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 30px;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #501700;
}

thead th:nth-child(1) {
    width: 25%;
}

thead th:nth-child(2) {
    width: 75%;
}

th, td {
    padding: 20px;
}

th {
    letter-spacing: 3px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: justify;
}

thead {
    background: #6e2407;
    color: #868686;
}

thead th {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 2px solid #501700;
}

tbody tr:nth-child(odd) {
    background: #914a2e;
    color: #cfcac7;
}

tbody tr:nth-child(even) {
    background: #6e2407;
    color: #cfcac7;
}

#css_flexbox {
    margin-top: 21px;
}

.image {
    margin: auto;
    display: block;
    width: 50%;
}

@media (max-width: 500px) {
    body {
        background: rgb(202, 202, 202);
        color: rgb(37, 36, 36);
    }
}
